<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio website of Kim Zuniga, a junior full-stack web developer. Projects consists of personal, challenges, and live websites created for clients.">
        <title>Kim Zuniga</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/65c28df05f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div id="container">
            <div id="body">
            <nav id="navProp" class="navbar navbar-expand-lg mb-3">
                <a class="navbar-brand" href="/"><img class="myLogo" src="/images/logo (1).png"></a>
                <% if(currentUser){ %>
                <a href="/">Signed in as <%= currentUser.username %></a>
                <% } %>
                <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarLinks" aria-controls="navBarLinks" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  justify-content-center" id="navBarLinks">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link rounded" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded"  href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div id="icons">
                    <a href="https://github.com/kimelizuniga" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="mailto: keaz@hotmail.ca"><i class="fas fa-at"></i></a>
                </div>
            </nav>
            <div class="container">
                <%if(error && error.length > 0){%>
                <div class="alert alert-danger"><%=error%></div>    
                <%}%>
            </div>
            <div class="container">
                <%if(success && success.length > 0){%>
                <div class="alert alert-success"><%=success%></div>   
                <%}%> 
            </div>
        

   