<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>About</h1>
    </div>
    <div class="row">
        <div class="col-md-6 text-indent">
            <p>
                I am currently attending St. Lawrence College for the Computer Programming and Analysis (CPA) program. I was exposed in the programming world in highschool, and have been interested in the field ever since. I have made multiple websites using my self-learned web development knowledge, and finally took the program in St. Lawrence to pursue a career in the field. 
            </p>
            <p>
                I currently do web development as side jobs for my friends and families, aswell as developing web apps for my personal use. You can see my previous works <a class="text-primary" href="/projects">here</a>.
            </p>            
        </div>
        <div class="col-md-6 text-center">
            <img class="w-75 my-3" src="images/photo.jpg" alt="kimzuniga.jpg">
        </div>
    </div>
</div>

<%- include("partials/footer") %>