<%- include("partials/header") %>

<div id="landing" class="container-fluid text-center">
    <div id="greetings">
        <h1>Hi, I'm <span class="myName">Kim Zuniga</span>.<h1>
        <p>I'm a Computer Programming and Analysis Student</p>
    </div>
</div>

<%- include("partials/footer") %>