<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>Kim Zuniga</h1>
        <p>Fullstack Developer</p>
    </div>
</div>

<%- include("partials/footer") %>