<%- include("partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1>Projects Page</h1>
    </div>
    
    <div class="card width">
        <div class="card-body">
            <h4 class="card-title">Yelp Camp</h4>
            <p>First project involving the use of MongoDB Atlas and Heroku</p>
            <a href="/show">More Info</a>
        </div>
    </div>
</div>


<%- include("partials/footer") %>