html, body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    color: black;
    z-index: -2;
}


nav li {
    margin-right: 2rem;
    
}

ul li {
    list-style: none;
}


nav a {
    color:  black;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

nav li a:hover {
    color: white;
    background-color: black;

}

a {
    color: black; 
}

a:hover {
    color: grey;
}

.card-body a {
    font-weight: 600;
    text-decoration: none;
}

/* .imgProperty {
    height: 22rem;
    width: 50%;
} */

.cardImg {
    height: 14rem;
}

.cardProperty {
    min-height: 25rem;
    max-height: 25rem;
    z-index: 0;
}

.myName {
    color: #ff6d24;
    text-shadow: 1px 0px 1px black;
}

.myLogo {
    width: 25px;
    height: 35px;
    margin-left: 1rem;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78,65,59, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
    outline: none;
}


.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
    background-size: cover;
}

.text-property {
    text-indent: 8%;
    margin: 0 10%;
}

.text-indent {
    text-indent: 2rem;
    word-wrap: break-word;
}


nav a i {
    margin-right: 1rem;
    font-size: 20px;
    color:  black;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

nav i:hover {
    color: grey;
}

.break-rule {
    display: none;
}

#back-arrow {
    float: left;
    font-size: 2rem;
}

#back-arrow:hover{
    color: grey;
}


#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgContainer {
    width: 60%;
    margin: 0 auto;
}

#showImg {
    max-width: 100%;
}

#greetings {
    color: black;
    padding-top: 12rem; 
}

#navProp {
    background-color:  rgba(0, 0, 0, 0,);
    height: 3rem;
    z-index: 1;
}

#icons {
    position: absolute;
    right: 0;
    margin-right: 5rem;
}

#container {
    min-height: 100vh;
    position: relative;
}

#body {
    padding-bottom: 2rem;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

#more-info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#dotted-line {
    display: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

#myPhoto {
    box-shadow: 2px 2px 5px black;
}

@media (min-width: 575px){

    .cardProperty {
        margin-bottom: 2rem;
    }
}

@media  (max-width: 990px) {

    #greetings h1, h1 p {
        font-size: 2rem;
    }

    #icons{
        display: none;
    }

    /* .imgProperty {
        height: 18rem;
        width: 70%;
    } */

}

@media (max-width: 575px) {

    /* .imgProperty {
        width: 100%;
    } */

    .cardImg {
        height: 18rem;
    }

    .cardProperty {
        min-height: 28rem;
        max-height: 28rem;
        width: 95%;
        margin: 0 auto;
    }

    .break-rule {
        display: block;
    }

    #dotted-line {
        display: block;
    }

    nav li{
        width: 100vh;
    }

}
