html, body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #e2ded3;
    color: #857671;
    z-index: -2;
}


nav li {
    margin-right: 2rem;
    
}


nav a {
    color:  #857671;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

nav li a:hover {
    color: #e2ded3;
    background-color: #857671;

}

h1 a {
    color:  #4e413b;
}

h1 a:hover {
    color: #857671;
}

.card-body a {
    color: #857671;
    font-weight: 600;
    text-decoration: none;
}

.card-body a:hover {
    color: #4e413b;
}

.imgProperty {
    height: 22rem;
    width: 50%;
}

.cardImg {
    height: 14rem;
}

.cardProperty {
    min-height: 25rem;
    max-height: 25rem;
    background-color: #e2ded3;
    z-index: 0;
}

.cardProperty h4 {
    color: #4e413b;
}

.myName {
    color: #ff6d24;
}

.myLogo {
    width: 25px;
    height: 35px;
    margin-left: 1rem;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78,65,59, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
    outline: none;
}

.jumbotron {
    /* background-color: rgba(133,118,113, 0.3) */
    background-image: linear-gradient(rgba(226,222,211,1), rgba(226,222, 211,0.8)), url("https://images.unsplash.com/photo-1522542550221-31fd19575a2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1 {
    color: #4e413b;
}

.text-property {
    text-indent: 8%;
    margin: 0 10%;

}


a i {
    margin-right: 1rem;
    font-size: 20px;
    color:  #857671;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

nav i:hover {
    color: #4e413b;
}

.break-rule {
    display: none;
}

#back-arrow {
    float: left;
    font-size: 2rem;
}

#back-arrow:hover{
    color: #4e413b;
}


#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greetings {
    color: #4e413b;
    padding-top: 12rem; 
}

#navProp {
    background-color:  rgba(0, 0, 0, 0,);
    height: 3rem;
    z-index: 1;
}

#icons {
    position: absolute;
    right: 0;
    margin-right: 5rem;
}

#container {
    min-height: 100vh;
    position: relative;
}

#body {
    padding-bottom: 2rem;
}

#footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    width: 100%;
}

#more-info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#dotted-line {
    display: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #4e413b;
}

@media (min-width: 575px){

    .cardProperty {
        margin-bottom: 2rem;
    }
}

@media  (max-width: 990px) {

    #greetings h1, h1 p {
        font-size: 2rem;
    }

    #icons{
        display: none;
    }

    .imgProperty {
        height: 18rem;
        width: 70%;
    }

}

@media (max-width: 575px) {

    .imgProperty {
        width: 100%;
    }

    .cardImg {
        height: 18rem;
    }

    .cardProperty {
        min-height: 28rem;
        max-height: 28rem;
        width: 95%;
        margin: 0 auto;
    }

    .break-rule {
        display: block;
    }

    #dotted-line {
        display: block;
    }

    nav a {
        background-color:rgba(226,222,211, 0.7);
    }

    nav li{
        width: 100vh;
    }
    
    nav li a:hover {
        color: #e2ded3;
        background-color: #857671;
    }

}
